@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
	-webkit-font-smoothing: subpixel-antialiased !important;
	-moz-osx-font-smoothing: auto !important;
}

/* Applying h-full here is an alternative to using h-screen in DashboardLayout main wrapper */
@layer components {
	#__next {
		@apply h-full;
	}
	html,
	body {
		@apply h-full;
	}
}
